.container{
    background-color:black ;
    /* width: 100px; */
    display: flex;
        /* flex-flow: column ; */
  
    flex-wrap: wrap;
    /* flex-basis: 20%; */
    
}
.box{
    background-color: yellowgreen;
     margin: 5px;
   /* flex:1; */
     padding: 5px;
    /* flex-grow: 1;  */
    /* flex-shrink: 1;  */

           flex-basis: 92%; 
 
       /* flex:1; */
}
.box1{
    background-color: yellowgreen;
     margin: 5px;
   /* flex:1; */
     padding: 5px;
    flex-grow: 1; 
    /* flex-shrink: 1;  */

           /* flex-basis: 50%;  */
 
}